@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    background-color: #F9F9F9;
}

.menu-list{
    display: none;
}

.menu-visible {
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.6%;
    height: 7vh;
}

.item {
    width: 20%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.item1 {
    padding-left: 1.6%;
    gap: 2vw;
}

.item2 {
    flex-grow: 4;
    justify-content: center;
    align-self: center;
}

input {
    width: 48vw;
    height: 5vh;
    border: 1px solid rgba(204, 204, 204, 1)
}

button {
    width: 50px;
    height: 5vh;
    border: 1px solid rgba(204, 204, 204, 1);
    background: linear-gradient(0deg, #F9F9F9, #faf2f2,
            linear-gradient(0deg, #F8F8F8, #F8F8F8));
}

#button-img {
    width: 20px;
    padding-right: 1%;
}

.item3 {
    justify-content: flex-end;
    padding-right: 1vw;
    gap: 3vw;
}

.main-content {    
    display: inline-flex;
    width: 97vw;
    padding-top: 3.5vh;
    padding-left: 4vw;
    padding-right: 2vw;
}

#main {
    width: 70%;
    padding-right: 2vw;
}

#video-iframe {
    width: auto;
    height: 60vh;
}

#video-iframe iframe {
    width: 100%;
    height: 100%;
}

h1 {
    padding-top: 16px;
    font-size: 20px;
}

#video-content {
    font-size: 14px;
}

#video-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#video-channel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.6vh  1vw;
    gap: 2vw;
    white-space: nowrap;
}

#video-channel span{
    font-weight: 600;
}

#channel-button button {
    background-color: rgba(204, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    width: 159px;
    height: 40px;
    margin-left: 4vw;
    margin-right: 1vw;
    border-radius: 2px;
    font-weight: 600;
    line-height: 16.41px;
    text-transform: uppercase;
    font-size: 11px;
}

#video-interations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.1vh  0.1vw;
    align-items: center;
    flex-grow: 1;
    min-width: 26.5vw;
}

#video-interations button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;    
    gap: 0.5vw;
    background-color: transparent;
    border: none;
    width: auto;
}

#video-description {
    display: flex;
    flex-flow: column nowrap;
    line-height: 16px;
    gap: 16px;
    padding-top: 16px;
}

#video-description p {
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    width: 62vw;
    white-space: wrap
}

#sidebar {
    display: flex;
    flex-flow: column nowrap;
    width: 34%;
}

.side-links {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 1.6vh; 
    height: auto;   
}

h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 1vh;
}

h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(81, 81, 81, 1);
    padding-bottom: 1vh;
}

.side-links p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.side-links img{
    padding-right: 16px;
    width: 250px;
    height: 132px;
}

.channel-icon{
    border-radius: 50%;
    width: 42px;
    height: 42px;
}




@media (max-width: 1591px) {
    .txt-ellipses {
    white-space: nowrap;
    width: 7vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
}

@media(max-width: 945px){
    .main-content{
        flex-flow: column wrap;
        gap: 3vh
    }
    #sidebar{
        width: 100%;
    }
    .txt-ellipses{
        white-space:normal;
        width: 100%;
        overflow:visible;
    }
        .main-content{
        margin: 0;
        padding: 0;
    }
    #video-content{
        padding: 3%;
    }
    #sidebar{
        padding: 3%;
    }
        #video-iframe{
        width: 100vw;
        height: 40vh;
    }
}

@media(max-width: 616px){
    /*menu*/
    .menu-visible{
        background-color: #fff;
        display: flex;
        flex-flow: row nowrap;
        padding: 0.6%;
        height: 7vh;
        justify-content:space-between;
        align-items: center;
    }

    div .item{    
        display: flex;
        flex-flow: row nowrap;
    }
    .item1{
        width: 25%;
    }
    .item2{
        width: 50%;
        height: 40px;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1vw;
    }
    button{
        background-color: transparent;
        border: none;
    }
    #button-img{
        width: 23px;
    }
    
    .item3{
        justify-content:space-between;
        width: 25%;
    }
    input{
        display: none;
    }
}

@media(max-width:481px){
    
    .menu-visible{
        display: none;
    }
    .menu-list{
        background-color: #fff;
        display: flex;
        flex-flow: row nowrap;
        padding-left: 5vw;
        width: 100vw;
        height: 7vh;
        justify-content:flex-start;
        align-items: center;
    }
    .side-links img{
        width: 52vw;
    }

}

@media(max-width:280px){
    #video-channel {
        display: flex;
        flex-flow: row wrap;
    }
    h1{
        width: 90vw;
    }
}